<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碁峰暢銷書籍</title>
    <script src="~/jquery-1.11.3.min.js"></script>
    <link href="~/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <script src="~/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    @RenderBody()

    <div data-role="page" id="about">
        <div data-role="header">
            <h3>碁峰暢銷書籍</h3>
        </div>
        <div data-role="content" style="text-align:center;">
            <p><img src="~/images/gotopLogo.png"></p>
            <h2>閱讀好書就找碁峰</h2>
        </div>
        <div data-role="footer">
            <h3>碁峰資料-版權所有</h3>
        </div>
    </div>
</body>
</html>